<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="{{description if description else 'description text'}}">
    <meta name="author" content="{{author if author else 'kelly'}}">
    <meta name="keyword" content="{{keyword if keyword else 'wechat'}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
    <title>{{title}}</title>
   
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css', _external=True)}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/bootstrap-reset.css', _external=True)}}" rel="stylesheet">
    <!--external css-->
    <link href="{{url_for('static', filename='assets/font-awesome/css/font-awesome.css', _external=True)}}" rel="stylesheet" />
    
    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/style.css', _external=True)}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/style-responsive.css', _external=True)}}" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="{{url_for('static', filename='js/html5shiv.js', _external=True)}}"></script>
      <script src="{{url_for('static', filename='js/respond.min.js', _external=True)}}"></script>
    <![endif]-->

  </head>

  <body class="body-{{title}}">

  <section id="container" class="">
  {% block main %}
      
  {% endblock %}
  </section>
  </body>
</html>